@import "../variables.css";

.nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: nowrap;
    width: 100%;
}

.nav a {
    text-align: center;
    /* transition: 0.3s; */
    padding: 1rem 0;
}

.nav a.active {
    border-bottom: 4px solid var(--color-accent);
}

.nav a.pending {
}

.nav a.transitioning {
}

.nav a:hover {
    background-color: var(--color-bg-hover);
}

.section {
    width: 400px;
}

.bio {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.usernameRow {
    display: flex;
    justify-content: space-between;
}

.usernameRowLeft {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.usernameRowLeft p {
    font-size: 0.8rem;
    background-color: var(--color-bg-hover);
    padding: 0 0.2rem;
    border-radius: 0.1rem;
}

.editProfileButton {
    color: var(--color-text-dark);
    background-color: var(--color-bg);
    border: 1px solid var(--color-text-dark);
    transition: 0.3s;
    padding: 0.5rem;
    min-width: 100px;
    border-radius: 0.4rem;
}

.editProfileButton:hover {
    background: var(--color-bg-hover);
}

.followButton {
    background: var(--color-text-dark);
    color: var(--color-text-light);
    padding: 0.5rem;
    min-width: 100px;
    border-style: none;
    border-radius: 0.4rem;
    transition: 0.3s;
}

.followButton:hover {
    opacity: 0.6;
}

.unfollowButton {
    background: var(--color-bg);
    color: var(--color-text-dark);
    border: 1px solid var(--color-text-dark);
    padding: 0.5rem;
    min-width: 100px;
    border-radius: 0.4rem;
    transition: 0.3s;
}

.unfollowButton:hover {
    color: red;
    background-color: rgb(231, 166, 166);
    border: 1px solid red;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    aspect-ratio: 1/1;
    font-size: 1.6rem;
    max-width: 96px;
    border-radius: 50%;
    padding: 0.4rem;
    font-family: 'monospace';
    font-weight: bold;
    color: var(--color-text-light);
    transition: 0.3s;
}

.joinDate {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.followingFollowerLink:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}