@import "../variables.css";

.postListing {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    padding: 0.5rem 1rem;
    width: 100%;
}

.postListing:hover {
    background-color: var(--color-bg-hover);
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    aspect-ratio: 1/1;
    font-size: 0.8rem;
    border-radius: 50%;
    max-width: 48px;
    padding: 0.2rem;
    font-family: 'monospace';
    font-weight: bold;
    color: var(--color-text-light);
    transition: 0.3s;
}

.avatar:hover {
    opacity: 0.6;
}

.username {
    transition: all 0.3s;
}

.username:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.bio {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}